.header {
  min-height: 30vh;
  max-width: 70vw;
  background-color: rgb(0,0,0, 0.5);
  box-shadow: 4px 2px 2px rgb(0,0,0, 0.3);
  display: flex;
  margin: auto;
  border-radius: 0 0 2rem 2rem;
  display: flex;
  flex-direction: column;
  z-index: 10;
  top: 0px;

}
