.header {
  min-height: 30vh;
  min-width: 70vw;
  background-color: rgb(0, 0, 0, 0.5);
  box-shadow: 4px 2px 2px rgb(0, 0, 0, 0.3);
  display: flex;
  margin: 0 auto 0 auto;
  border-radius: 0 0 1rem 1rem;
  display: flex;
  flex-direction: column;
  z-index: 10;
  top: 0px;
  position: relative;
}


@media screen and (max-width: 1300px) {
  .header {
    max-width: 70vw;
  }
}

@media screen and (max-width: 1200px) {
  .header {
    min-width: 86vw;
    background-color: rgb(0, 0, 0, 0);
    box-shadow: 4px 2px 2px rgb(0, 0, 0, 0);
    margin-bottom: 14px;
  }
}

@media screen and (max-width: 800px) {
  .header {
    position: static;
    max-width: 86vw;
  }
}

@media screen and (max-width: 700px) {
  .header {
    background-color: rgb(0, 0, 0, 0);
    box-shadow: 4px 2px 2px rgb(0, 0, 0, 0);
    margin-bottom: 14px;
  }
}
