.my-projects__title {
  margin: 0 0 0 0;
}

@media screen and (max-width: 800px) {
  .my-projects__title {
    margin: 0 0 0 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 500;
  }
}