.app__color_type_red-green {
  text-align: center;
  width: 100vw;
  z-index: -1;
  background: linear-gradient(
    -45deg,
    rgb(8, 233, 19),
    rgba(135, 233, 8, 0.745),
    rgba(238, 234, 11, 0.918),
    rgba(236, 137, 7, 0.761),
    rgb(236, 13, 13)
  );
  animation: gradient 15s ease infinite;
  min-height: 100vh;
  background-size: 200% 100%;
  transition: 10s linear;
  transition-property: opacity;
  opacity: 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
