.caurosel_type_visible {
  display: flex;
  visibility: visible;
  max-width: 310px;
  height: 100%;
  border-radius: 10px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 30px;
}

@media screen and (max-width: 920px) {
  .caurosel_type_visible {
    padding-bottom: 0;
    margin: auto;
  }
}
