.caurosel {
  width: 92%;
  height: 92%;
  border-radius: 10px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 1400px) {
  .caurosel {
    width: 100%;
    height: 100%;
  }
}


@media screen and (max-width: 920px) {
  .caurosel {
    padding-bottom: 22px;
  }
}
