.color_active {
  opacity: 1;
}

.cyanPink_active {
  visibility: visible;
}

.cyanPurple_active {
  visibility: visible;
}

.greenBlue_active {
  visibility: visible;
}

.redGreen_active {
  visibility: visible;
}

.cyanYellow_active {
  visibility: visible;
}

.pinkYellow_active {
  visibility: visible;
}

.blueRed_active {
  visibility: visible;
}
