.cyanPink {
  text-align: center;
  position: absolute;  
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: linear-gradient(
    -45deg,
    rgba(126, 25, 221),
    rgba(115, 63, 211),
    rgba(30, 145, 252),
    rgba(35, 142, 213),
    rgba(17, 241, 185)
  );
  animation: gradient 15s ease infinite;
  min-height: 100vh;
  background-size: 200% 100%;
  transition: 3s linear;
  opacity: 0;
}

.cyanPurple {
  text-align: center;
  position: absolute;  
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: absolute;  
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: linear-gradient(
    -45deg,
    rgb(104, 15, 221),
    rgba(46, 33, 226, 0.745),
    rgba(30, 152, 252, 0.918),
    rgba(35, 213, 213, 0.761),
    rgb(17, 241, 174)
  );
  animation: gradient 15s ease infinite;
  min-height: 100vh;
  background-size: 200% 100%;
  transition: 3s linear;
  opacity: 0;
}

.greenBlue {
  text-align: center;
  position: absolute;  
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: linear-gradient(
    -45deg,
    rgb(15, 18, 221),
    rgba(20, 165, 223, 0.745),
    rgba(30, 252, 241, 0.918),
    rgba(18, 207, 129, 0.761),
    rgb(13, 236, 50)
  );
  animation: gradient 15s ease infinite;
  min-height: 100vh;
  background-size: 200% 100%;
  transition: 3s linear;
  opacity: 0;
}

.redGreen {
  text-align: center;
  position: absolute;  
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: linear-gradient(
    -45deg,
    rgb(8, 233, 19),
    rgba(135, 233, 8, 0.745),
    rgba(238, 234, 11, 0.918),
    rgba(236, 137, 7, 0.761),
    rgb(236, 13, 13)
  );
  animation: gradient 15s ease infinite;
  min-height: 100vh;
  background-size: 200% 100%;
  transition: 3s linear;
  opacity: 0;
}

.cyanYellow {
  text-align: center;
  position: absolute;  
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: linear-gradient(
    -45deg,
    rgb(8, 199, 233),
    rgba(8, 233, 139, 0.745),
    rgba(30, 238, 11, 0.918),
    rgba(110, 236, 7, 0.761),
    rgb(221, 236, 13)
  );
  animation: gradient 15s ease infinite;
  min-height: 100vh;
  background-size: 200% 100%;
  transition: 3s linear;
  opacity: 0;
}

.pinkYellow {
  text-align: center;
  position: absolute;  
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: linear-gradient(
    -45deg,
    rgb(233, 8, 196),
    rgba(233, 8, 166, 0.745),
    rgba(238, 11, 106, 0.918),
    rgba(236, 156, 7, 0.761),
    rgb(221, 236, 13)
  );
  animation: gradient 15s ease infinite;
  min-height: 100vh;
  background-size: 200% 100%;
  transition: 3s linear;
  opacity: 0;
}

.blueRed {
  text-align: center;
  position: absolute;  
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: linear-gradient(
    -45deg,
    rgb(8, 42, 233),
    rgba(49, 8, 233, 0.745),
    rgba(236, 7, 57, 0.761),
    rgb(236, 13, 13)
  );
  animation: gradient 15s ease infinite;
  min-height: 100vh;
  background-size: 200% 100%;
  transition: 3s linear;
  opacity: 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
