.app__color_type_cyan-purple {
  text-align: center;
  width: 100vw;
  z-index: -1;
  z-index: -1;
  background: linear-gradient(
    -45deg,
    rgb(104, 15, 221),
    rgba(46, 33, 226, 0.745),
    rgba(30, 152, 252, 0.918),
    rgba(35, 213, 213, 0.761),
    rgb(17, 241, 174)
  );
  animation: gradient 15s ease infinite;
  min-height: 100vh;
  background-size: 200% 100%;
  transition: 10s linear;
  transition-property: opacity;
  opacity: 0;
}

@media screen and (max-width: 370px) {
  .app__color_type_cyan-purple {
    min-height: 110vh;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
