.about-me {
  border-radius: 1rem;
  background-color: rgb(0, 0, 0, 0.5);
  box-shadow: 4px 2px 2px rgb(0, 0, 0, 0.2);
  max-width: calc(70vw - 20px);
  margin: 30px auto 30px auto;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (max-width: 1300px) {
  .about-me {
    max-width: calc(70vw - 20px);
  }
}

@media screen and (max-width: 1200px) {
  .about-me {
    max-width: calc(86vw - 20px);
  }
}

@media screen and (max-width: 800px) {
  .about-me {
    margin: 20px auto 20px auto;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(0, 0, 0, 0.5);
  }
}
