.app {
  text-align: center;
  height: max-content;
  background-size: 200% 100%;
  transition: 0.3s;
  width: 100vw;
  z-index: -1;
  position: fixed;
}

@media screen and (max-width: 800px) {
  .app {
  }
}
