.about-me__link  {
  color: rgb(111, 111, 231);
  display: flex;
  word-break: break-all;
  display: inline;
  transition: .1s;
}

.about-me__link:active {
  color: rgb(236, 88, 88);
}

.about-me__link:visited  {
  color: rgb(183, 0, 255);
}

.about-me__link:hover {
  transition: .1s;
  opacity: 0.7;
}

@media screen and (max-width: 800px) {
  .about-me__link {
    padding: 10px 0 20px 0;
    font-size: 19px;
  }
}

@media screen and (max-width: 560px) {
  .about-me__link {
    font-size: medium;
    padding: 0;
  }
}